@import "tailwindcss";

:root {
  --background: oklch(0.1824 0 360);
  --foreground: oklch(0.95 0.0189 310.93);
  --card: oklch(0.1638 0 360);
  --card-foreground: oklch(0.95 0.0189 310.93);
  --muted: oklch(0.2158 0 360);
  --muted-foreground: oklch(0.55 0.005 310.93);
  --border: oklch(0.2455 0 360);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-border: var(--border);
  --font-sans: var(--font-inter-sans);
  --font-mono: var(--font-inter-mono);
  --ease-out-quad: cubic-bezier(0.25, 1, 0.5, 1);
}

@layer base {
  * {
    @apply selection:bg-stone-500/20;
  }

  body {
    @apply bg-background text-foreground font-sans;
  }
}
